body {
    height: 100vh;
    margin: 0;
    font-family: Oxanium;
    background-size: cover;
    background-image: url(./img/Apex\ world.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 150px;
}

.h2 {
    width: 50vw;
    font-size: 30px;
    color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.icons {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    height: 20px;
}

.cabecalho {
    color: #fff;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    height: 100px;
    align-items: center;
    width: 90%;
}
