body {
    height: 100vh;
    width: 100%;
    font-family: Oxanium;
    background-size: cover;
    background-image: url(img/ApexWorld.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 150px;
    overflow: hidden;
}

.h2 {
    width: 50vw;
    font-size: 30px;
    color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}


.icons img{
    display: flex;
    height: 35px;
    width: 100%;
   
}

.cabecalho {
    color: #fff;
      justify-content: space-between;
    display: flex;
    background-color: #000;
    height: 100px;
    align-items: center;
    width: 90%;
}

.button {
    background-color: #C83C35;
    font-size: 10px;
    gap: 16px;
    display: flex;
    border: none;
    padding: 12px 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.button-2 {
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.button-2 img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.buton:hover {
    transform: translateY(-10px);
}

.Buttons:hover {
    transform: translateY(-10px);
}

.visual {
    display: flex;
    position: absolute;
    top: 16%;
    right: 0;
    padding-top: 20vh;
}

.logo img {
    display: flex;
    justify-content: left;
    height: 200px;
    align-items: center;
}

main {
    display: flex;
    width: 100vw;
    align-items: right;
    flex-direction: column;
    gap: 20px;
    margin-top: 200px;
}

.main img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}