body {
    height: 100vh;
    margin: 0;
    font-family: Oxanium;
    background-size: cover;
    background-image: url(./img/Apex\ world.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 150px;
}

.h2 {
    width: 50vw;
    font-size: 30px;
    color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.icons {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    height: 20px;
}

.cabecalho {
    color: #fff;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    height: 100px;
    align-items: center;
    width: 90%;
}

.button {
    background-color: #C83C35;
    font-size: 10px;
    gap: 16px;
    display: flex;
    border: none;
    padding: 12px 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.button-2{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.button-2 img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.buton:hover {
    transform: translateY(-10px);
}

.Buttons:hover {
    transform: translateY(-10px);
}

header {
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;

}

.visual {
    display: flex;
    position: absolute;
    top: 16%;
    right: -57%;
    width: 100%;
    z-index: 9999;

}