body {
    background-image: url(img/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0%;
}

header {
    background-color: aqua;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.apex legends {
    background-color: blue;
    height: 60px;
    width: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
}